h6#headfoot{ 
    text-transform: uppercase;
    font-size: 20px;
    color: #FFFFFF;
    font-weight:bold;
    text-align:left;
    }
a.linkfoot{
    color: #000000 ;
  text-decoration: none;
}
a.linkfoot:hover{
    color: #000000;
  text-decoration:underline;
  font-weight: bold;
  font-size: 16px;
}

h6#testoarancio{
	color: #FA9600;
}
 div.sfondo{
 background-color:#3F3F3F
 }

