#foto{
	border-left: 4px solid #3F3F3F;
	border-bottom: 4px solid #3F3F3F;
	border-right: 4px solid #3F3F3F;
	border-top: 4px solid #3F3F3F;
	
}

.btn-mio{              
    background-color: #3F3F3F;;
    border-color: white;
    
    
}

.btn-mio:hover{
    background-color: #FA9600;
    border-color: #FA9600;
    
}

h6.testo{
	font-weight:bold;
	padding-left:1px;
	text-transform:uppercase;
	
}
div#contenitoreTotale{
	
	border-left: 4px solid #3F3F3F;
	border-bottom: 4px solid #3F3F3F;
	border-right: 4px solid #3F3F3F;
	border-top: 4px solid #3F3F3F;
}