.carta1 {         /*card dove sta scritto login*/
    color: white;
    background-color: #3F3F3F;
}

.btn-mio{              /*bottone login*/
    background-color: #3F3F3F;
    border-color: #3F3F3F	;
    
}

.btn-mio:hover{
    background-color: #FA9600;
    border-color: #FA9600;
}

#linkReg{            /*LINK A REGISTRAZIONE*/
    color: black;
    font-weight: bold;
}

.BORDO{   
    border-color: #3F3F3F;
    border-width: 3px;
}

.grassetto{        
    font-weight: bold;
}

.suggerimento{
    color: gray;
}

h6#testo{
	font-weight:bold;
}

table{
	border-collapse: separate;
	border-spacing: 15px;
}

table tr,th{
	text-align:center;
}