<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	<welcome-file-list>
		<welcome-file>/index.jsp</welcome-file>
	</welcome-file-list>
	<error-page>
		<error-code>500</error-code>
        <location>/general-error.jsp</location>
    </error-page>
	<error-page>
		<error-code>404</error-code>
        <location>/general-error.jsp</location>
    </error-page>
</web-app>
